/* 🔒 SOLO MODAL INTRO */
#introModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

#introModal.active {
    opacity: 1;
    visibility: visible;
}

#introModal .modal-content {
    background: #000000d7;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    max-height: 80vh;
    overflow-y: auto;
    line-height: 1.5;

    transform: scale(0.95);
    transition: transform 0.25s ease;
}

#introModal.active .modal-content {
    transform: scale(1);
}

#introModal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#introModal .download-btn {
    display: flex;
    margin-top: 15px;
    padding: 10px 15px;
    background: #0476c2;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

#introModal .modal-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: 250px;
    object-fit: cover;
}